* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#222;
    overflow-x: hidden; 
}
:root {
    --color: rgb(0, 157, 255);
} 
header {
    position: fixed;
    top: 0px;
    left: 0;
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: linear-gradient( rgb(0, 157, 255), rgb(106, 194, 248));
    z-index:1;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
}

h2 {
    font-size: 35px;
    padding-left: 50px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
    padding: 25px;
}
.navbar a:hover {
    color: var(--color);
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    transition: .9s;
}


label {
    z-index: 2;
    position: fixed;
    top: 30px;
    right: 10px;
    cursor: pointer;
    display: none;
}

label span {
    display: block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin: 5px 0;
    transition: .3s;
}

label span:nth-child(1) {
    margin-left: 20px;
}

label span:nth-child(2) {
    width: 50px;
}
#toogle:checked~label>span:nth-child(1) {
    background: #fff;
    transform: rotateZ(45deg);
    width: 30px;
    margin-top: 10px;
}

#toogle:checked~label>span:nth-child(2) {
    background: #fff;
    transform: rotateZ(-45deg);
    width: 30px;
    margin-top: -8px;
    margin-left: 19px;
}
#toogle:checked~header .navbar {
    left: 0;
}
.btn{
    color:var(--color) ;
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid var(--color);
    padding: 10px 20px;
    margin-top: 110px;
    font-size: 23px;
    width: fit-content;
    position: relative;
    z-index: -1;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
}
.btn::after{
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color:var(--color);
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.btn::before{
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color:var(--color);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.btn:hover::before{
    z-index: -1;
    animation: left-move 0.5s forwards;
}
.btn:hover::after{
    z-index: -1;
    animation: right-move 0.5s forwards ;
}
.btn:hover{
    color:#fff;
    background-color: var(--color);
    transition-delay: 0.5s;
    cursor: pointer;
}
@keyframes left-move {
    50%{
        left: 0;
        height: 12px;
        width: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        height: 12px;
        width: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }    
}
.Text{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
.mama{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 280px;
    background: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}
.container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440*var(--num)) /100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 1;
    transform: rotate(calc(3.6deg*var(--num)));
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg*var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 40px;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.7em;
}
.number h2 span{
    font-weight: 300;
    color: #fff;
    font-size: 0.75em;
}
.number p{
    font-weight: 300;
    font-size: 1em;
    padding-left: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255 ,255 ,0.75 );
}
#footer{
    position: relative;
    height:auto;
    width: 100%;
    background: linear-gradient( rgb(0, 157, 255), rgb(106, 194, 248));
    margin-top: 290px;
    padding: 30px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
}
.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo h1{
    font-size: 70px;
    text-shadow: 0 5px 15px rgba(0,0,0,.6);
}
.logo-container{
    text-align: center;
}
.logo-container , .info , .letter{
    display: flex;
    justify-content: center;
    margin: 5px 15px;
    color: #fff;
    flex: 1 0 20px;
    flex-flow: column wrap;
}
.icones i{
    font-size: 30px;
    margin: 5px;
}
.icones i:hover{
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
    transition: .2s;
    background: var(color);
}
.info i{
    margin:  10px;
    font-size: 25px;
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
}
.info i::after{
    content: attr(data-text);
    font-size: 20px;
    margin: 0 15px;
    font-family: arial;
    text-shadow: 0 5px 15px rgba(0,0,0,.6);
}.letter h1{
    margin: 20px 0;
    font-size: 50px;
    text-shadow: 0 5px 15px rgba(0,0,0,.6);
}
.letter p{
    margin: 10px 0;
    font-size: 23px;
    text-shadow: 0 5px 15px rgba(0,0,0,.6);
}
input[type="email"]{
    width: 80%;
    outline: none;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 0 10px;
    font-size: 17px;
    height: 40px;
    background: rgb(255, 255,255,.2);
    color: #fff;
}
input[type="submit"]{
    outline: none;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height: 30px;
    width: 100px;
    font-size: 17px;
    background-color:#fff ;
    color:rgb(0, 157, 255);
    margin: 15px 0;
    cursor: pointer;
    border: 3px #fff;
    border-radius: 10px;
}
input[type="submit"]:hover{
    color:#fff;
    background-color:rgb(0, 157, 255);
    border-radius: 50px;
    transition: .9s;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
}
.end{
    width: 100%;
}
.end h1{
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    opacity: 50%;
}
@media (max-width:900px) {
    label {
        display:block;
    }
    .navbar{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: var(--color);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    .navbar a{
        font-size: 30px;
    }
    .navbar a:hover {
        color: var(--color);
        background-color: #fff;
        border-radius: 15px;
        padding: 15px;
        transition: .9s;
    }
}